<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Bienvenido</h2>
    <ol class="breadcrumb">
      <li class="active">
        <strong>Inicio</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeIn" ng-controller="AdministradorEstatusController as vm">
  <div class="ibox-content">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-w-m btn-primary" add-estatus>Crear Estatus</button>
      </div>

    </div>

  </div>
  <div class="ibox-content">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Selecciona capitulo
            <span class="text-danger">*</span>
          </label>
          <select class="form-control m-b" ng-model="vm.capitulo_seleccionado" ng-change="vm.cambioCapitulo()" ng-options="chapter.index as chapter.chapter_name for chapter in vm.capitulos"
            id="chapters">
            <option value="">Seleccione</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6">
        <label>Selecciona Estatus a editar
          <span class="text-danger">*</span>
        </label>
        <select ng-disabled="vm.disableEstatusSelect" class="form-control m-b" ng-change="vm.cambioEstatus()" ng-model="vm.estatus_seleccionado"
          ng-options="estatus.index as estatus.title for estatus in vm.estatus" id="chapters">
          <option value="">Seleccione</option>
        </select>
        <span ng-show="vm.errorNoStatus" class="text-danger">No hay estatus agegados a este capitulo </span>
      </div>
      <div class="col-md-8">
        <button type="button" class="btn btn-w-m btn-primary" ng-disabled="vm.buttonEditDisable" ng-click="vm.buttonEdit()">Editar Estatus</button>
      </div>
    </div>
  </div>
  <div ng-show="vm.showEditStatus" class="ibox-content">
    <div class="row">
      <div class="col-md-12">
        <label>Contenido de Estatus</label>
      </div>
    </div>
    <div class="row">
      <textarea class="col-md-12" rows="20" ng-model="vm.statusDescription"></textarea>
      <span class="error text-danger " ng-show="vm.spanContenido">Requiere un contenido </span>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Agregar o editar decisiones de Estatus</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Selecciona tipo de decision
            <span class="text-danger">*</span>
          </label>
          <!-- Seccion decisiones -->
          <select class="form-control m-b" id="chapters" ng-change="vm.changeTypeDecision()" ng-model="vm.decisionType">
            <option value="">Seleccione</option>
            <option value="3">Unica</option>
            <option value="1">Simple</option>
            <option value="2">Tres decisiones</option>
          </select>
          <span class="error text-danger " ng-show="vm.spanTypeDecision">Seleccione el tipo de decision</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Primera decision
            <span class="text-danger">*</span>
          </label>
          <input ng-model="vm.textoPrimeraDecision">
          <span class="error text-danger " ng-show="vm.spanPrimera">El campo es requerido</span>

          <label>Tiene requerimientos
            <span class="text-danger">*</span>
          </label>
          <input type="checkbox" ng-change="vm.hasRequires1Changed()" ng-model="vm.hasRestriccionsOne" >
        </div>
      </div>
    </div>
    <div class="row" ng-show="vm.hasRestriccionsOne">
      <div class="col-sm-12">
        <div class="form-group">


          <label>Vitalidad (vit) requerido default(0)
            <span class="text-danger">*</span>
          </label>
          <input type="number" ng-model="vm.vitOneNeeded">
          <label>Fuerza (str) requerido default(0)
            <span class="text-danger">*</span>
          </label>
          <input type="number" ng-model="vm.strOneNeeded">
          <label>Agilidad (agi) requerido default(0)
            <span class="text-danger">*</span>
          </label>
          <input type="number" ng-model="vm.agiOneNeeded">
          <label>Inteligencia (int) requerido default(0)
            <span class="text-danger">*</span>
          </label>
          <input type="number" ng-model="vm.intOneNeeded">
          <label>Suerte (lck) requerido default(0)
            <span class="text-danger">*</span>
          </label>
          <input type="number" ng-model="vm.lckOneNeeded">
        </div>
      </div>
    </div>

    <div ng-show="vm.showSecondOption" class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Segunda decision
            <span class="text-danger">*</span>
          </label>
          <input ng-model="vm.textoSegundaDecision">
          <span class="error text-danger " ng-show="vm.spanSegunda">El campo es requerido</span>
          <label>Tiene requerimientos
              <span class="text-danger">*</span>
            </label>
            <input type="checkbox" ng-change="vm.hasRequires2Changed()" ng-model="vm.hasRestriccionsTwo" >
        </div>
      </div>
    </div>

    <div class="row" ng-show="vm.hasRestriccionsTwo">
        <div class="col-sm-12">
          <div class="form-group">
  
  
            <label>Vitalidad (vit) requerido default(0)
              <span class="text-danger">*</span>
            </label>
            <input type="number" ng-model="vm.vitTwoNeeded">
            <label>Fuerza (str) requerido default(0)
              <span class="text-danger">*</span>
            </label>
            <input type="number" ng-model="vm.strTwoNeeded">
            <label>Agilidad (agi) requerido default(0)
              <span class="text-danger">*</span>
            </label>
            <input type="number" ng-model="vm.agiTwoNeeded">
            <label>Inteligencia (int) requerido default(0)
              <span class="text-danger">*</span>
            </label>
            <input type="number" ng-model="vm.intTwoNeeded">
            <label>Suerte (lck) requerido default(0)
              <span class="text-danger">*</span>
            </label>
            <input type="number" ng-model="vm.lckTwoNeeded">
          </div>
        </div>
      </div>

    <div ng-show="vm.showTrheeOption" class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Tercera decision
            <span class="text-danger">*</span>
          </label>
          <input ng-model="vm.textoTerceraDecision">
          <span class="error text-danger " ng-show="vm.spanTercera">El campo es requerido</span>
          <label>Tiene requerimientos
              <span class="text-danger">*</span>
            </label>
            <input type="checkbox" ng-change="vm.hasRequires2Changed()" ng-model="vm.hasRestriccionsThree" >
        </div>
      </div>
    </div>

    <div class="row" ng-show="vm.hasRestriccionsThree">
        <div class="col-sm-12">
          <div class="form-group">
  
  
            <label>Vitalidad (vit) requerido default(0)
              <span class="text-danger">*</span>
            </label>
            <input type="number" ng-model="vm.vitThreeNeeded">
            <label>Fuerza (str) requerido default(0)
              <span class="text-danger">*</span>
            </label>
            <input type="number" ng-model="vm.strThreeNeeded">
            <label>Agilidad (agi) requerido default(0)
              <span class="text-danger">*</span>
            </label>
            <input type="number" ng-model="vm.agiThreeNeeded">
            <label>Inteligencia (int) requerido default(0)
              <span class="text-danger">*</span>
            </label>
            <input type="number" ng-model="vm.intThreeNeeded">
            <label>Suerte (lck) requerido default(0)
              <span class="text-danger">*</span>
            </label>
            <input type="number" ng-model="vm.lckThreeNeeded">
          </div>
        </div>
      </div>


    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Limite de tiempo
            <span class="text-danger">*</span>
          </label>
          <input type="checkbox" ng-change="vm.cambioLimiteTiempo()" ng-model="vm.limiteTiempo" ng-checked="vm.limiteTiempo">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <button type="button" class="btn btn-w-m btn-primary" ng-click="vm.updateEstatus()">Actualizar Estatus</button>
      </div>
    </div>
  </div>

</div>