<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Nuevo usuario</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <form name="frmnew">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Nombre del capitulo
              <span class="text-danger">*</span>
            </label>
            <input required type="text" class="form-control" ng-model="vm.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flex  col-sm-12">
          <div class="form-group">
            <label>Descripción</label>
            <input required type="text" class="form-control" ng-model="vm.description">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Selecciona capitulo anterior
              <span class="text-danger">*</span>
            </label>
            <select class="form-control m-b" ng-disabled="vm.disabledSelectChapter" ng-model="vm.capitulo_seleccionado" ng-change="vm.cambioCapitulo()" ng-options="chapter.index as chapter.chapter_name for chapter in vm.capitulos"
              id="chapters">
              <option value="">Seleccione</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Es inicio unico 
              <span class="text-danger">*</span>
            </label>
            <input  type="checkbox"ng-checked="vm.InicioUnico" ng-change="vm.cambioInicioUnico()"ng-model="vm.InicioUnico"id="checkInicioUnico">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancelar</button>
  <button class="btn btn-success" type="button" ng-click="vm.ok()" ng-disabled="!frmnew.$valid">Guardar</button>
</div>