<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Nuevo usuario</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <form name="frmnew">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Nombre del estatus
              <span class="text-danger">*</span>
            </label>
            <input required type="text" class="form-control" ng-model="vm.name">
            <span class="error text-danger " ng-show="vm.spanTitle">Requiere un titulo</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Selecciona capitulo
              <span class="text-danger">*</span>
            </label>
            <select class="form-control m-b" ng-model="vm.capitulo_seleccionado" ng-change="vm.cambioCapitulo()" ng-options="chapter.index as chapter.chapter_name for chapter in vm.capitulos"
              id="chapters">
              <option value="">Seleccione</option>
            </select>
            <span class="error text-danger " ng-show="vm.disableSpanCapitulos">No hay capitulos creados</span>
          </div>
        </div>
      </div>

  


      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Selecciona estatus anterior
              <span class="text-danger">*</span>
            </label>
            <select ng-disabled="vm.disableEstatusSelect" class="form-control m-b" ng-change="vm.cambioEstatus()" ng-model="vm.estatus_seleccionado"
              ng-options="estatus.index as estatus.title for estatus in vm.estatus" id="chapters">
              <option value="">Seleccione</option>
            </select>
            <span class="error text-danger " ng-show="vm.disableSpanEstatus">No hay estatus anteriores </span>
            <span class="error text-danger " ng-show="vm.SpanEstatusNoSeleccionado">Seleccione el estatus anterior</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Selecciona la decision anterior
              <span class="text-danger">*</span>
            </label>
            <select ng-disabled="vm.disableDecisionSelect" class="form-control m-b" ng-change="vm.cambioDecision()" ng-model="vm.decision_seleccionada"
              ng-options="decision.index as decision.name for decision in vm.decisions" id="chapters">
              <option value="">Seleccione</option>
            </select>
            <span class="error text-danger " ng-show="vm.disableSpanDecision">No hay decisiones validas disponibles (fueron utilizadas todas o aun no son creadas decisiones)</span>
            <span class="error text-danger " ng-show="vm.SpanDecisionNoSeleccionado">Debe selecionar una decision anterior</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Mas de una decision anterior conlleva a este estatus
              <span class="text-danger">*</span>
            </label>
            <input ng-disabled="vm.disableMasDeUnaDecision" type="checkbox" ng-checked="vm.dobleDecisionAnterior" ng-change="vm.cambioDobleDecisionAnterior()"
              ng-model="vm.dobleDecisionAnterior" id="checkDobleDecisionAnterior">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Selecciona estatus anterior 2
              <span class="text-danger">*</span>
            </label>
            <select ng-disabled="vm.disableEstatusSelect2" class="form-control m-b" ng-change="vm.cambioEstatus2()" ng-model="vm.estatus_seleccionado2"
              ng-options="estatus.index as estatus.title for estatus in vm.estatus" id="chapters">
              <option value="">Seleccione</option>
            </select>
            <span class="error text-danger " ng-show="vm.disableSpanEstatus2">No hay estatus anteriores </span>
            <span class="error text-danger " ng-show="vm.SpanEstatusNoSeleccionado2">Seleccione el estatus anterior2</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Selecciona la decision anterior 2
              <span class="text-danger">*</span>
            </label>
            <select ng-disabled="vm.disableDecisionSelect2" class="form-control m-b" ng-change="vm.cambioDecision2()" ng-model="vm.decision_seleccionada2"
              ng-options="decision.index as decision.name for decision in vm.decisions2" id="chapters">
              <option value="">Seleccione</option>
            </select>
            <span class="error text-danger " ng-show="vm.disableSpanDecision2">No hay decisiones validas disponibles (fueron utilizadas todas o aun no son creadas decisiones)</span>
            <span class="error text-danger " ng-show="vm.SpanDecisionNoSeleccionado2">Debe selecionar una decision anterior</span>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Es el primer estatus
              <span class="text-danger">*</span>
            </label>
            <input ng-disabled="vm.disablePrimerEstatus" type="checkbox" ng-checked="vm.primerEstatus" ng-change="vm.cambioPrimerEstaus()"
              ng-model="vm.primerEstatus" id="checkPrimerEstatus">
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Es estatus final
              <span class="text-danger">*</span>
            </label>
            <input ng-disabled="vm.disableEstatusFinal" type="checkbox" ng-checked="vm.EstatusFinal" ng-change="vm.cambioEstatusFinal()"
              ng-model="vm.EstatusFinal" id="checkEstatusFinal">
          </div>
        </div>
      </div>

      <span class="error text-danger " ng-show="vm.showSpanDecisionDoble">No puede seleccionarse dos veces el mismo estatus</span>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancelar</button>
  <button class="btn btn-success" type="button" ng-click="vm.ok()" ng-disabled="vm.saveDisable">Guardar</button>
</div>